{% extends 'base.html.twig' %}

{% block title %}Créer un projet - {{ parent() }}{% endblock %}

{% block header %}
    <h1>Nouveau projet</h1>
{% endblock %}

{% block body %}

{{ form_start(form) }}

{{ form_row(form.nom) }}
{{ form_row(form.employes) }}
<br>
<button class="button button-submit">Continuer</button>
{{ form_end(form) }}

{% endblock %}
